<div class="login-container">
  <!-- Här är det simpla fältet för email-->
  <mat-form-field>
    <mat-label>Enter your email</mat-label>
    <!-- Notera hur vi binder vår required model email (från login-container.ts) till [(ngModel)].
    Det innebär att när en föränding sker i fältet så uppdateras vår email model direkt.
    Vi gör exakt samma för password -->
    <input matInput [(ngModel)]="email"/>
  </mat-form-field>
  <!-- Här är det lite mer invecklade fältet för lösenord,
  notera att majoriteten av koden bara är för styling-->
  <mat-form-field>
    <mat-label>Enter your password</mat-label>
    <input matInput [(ngModel)]="password" [type]="hide() ? 'password' : 'text'" />
    <button
      matIconButton
      matSuffix
      (click)="clickEvent($event)"
      [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hide()"
    >
      <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  <!-- Och här är det simpla fältet för login-knappen -->
  </mat-form-field>
  <!-- Notera här hur vi binder (click) eventet till submitLogin() (från login-container.ts) -->
  <button matButton (click)="submitLogin()">
    Login
  </button>
</div>
