:host {
  width: 100%;
  background-color: var(--mat-sys-primary-container);
  width: 100%;
  border: 1px solid var(--mat-sys-outline-variant);
  color: var(--mat-sys-on-primary-container);
  box-sizing: border-box;
  border-radius: 5px;
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 0;
  height: 100%;
  overflow: hidden;
}

.mat-mdc-action-list {
  padding: 0;
  border-radius: 5px;
  height: 100%;
}

.mdc-list-item {
  color: var(--mat-sys-on-primary-container);
  background-color: var(--mat-sys-surface-variant);
  box-shadow: var(--mat-sys-level1);
}

.child-list-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.list-class {
  background-color: var(--mat-sys-surface-dim);
  flex: 1;
  overflow-y: auto;
}

:host ::ng-deep .child-list-container {
  .pick-class {
    .mdc-notched-outline__leading,
    .mdc-notched-outline__notch,
    .mdc-notched-outline__trailing {
      border-color: var(--mat-sys-inverse-primary) !important;
    }
    .mat-mdc-text-field-wrapper {
      background-color: var(--mat-sys-inverse-primary) !important;
    }

  }


  mat-form-field:not(.pick-class) {
    .mdc-notched-outline__leading,
    .mdc-notched-outline__notch,
    .mdc-notched-outline__trailing {
      border-color: var(--mat-sys-inverse-primary) !important;
    }

    .mat-mdc-text-field-wrapper {
      background-color: var(--mat-sys-inverse-primary) !important;
    }
  }
}


.list-topper { //squashd av liten ruta FIX
  display: flex;
  flex-direction: row;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.stats {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1em;
  background: var(--mat-sys-inverse-primary);
  flex: 1;
  padding: 0.5em;
}

.stats::after {
  content: "";
}

.stats::before {
  content: "";
}

.stats p {
  font-weight: 500;
  padding: 0;
  margin: 0.1em;
}

.pick-class {
  flex: 0.5;
}

.search {
  flex: 1;
}

.stats-text {
  margin: 1em;
  font: var(--mat-sys-title-small);
  color: var(--mat-sys-on-secondary-container);
}

.cornerize {
  border-top-right-radius: 0% !important;
  border-top-left-radius: 0% !important;
}

::ng-deep mat-card > mat-form-field > div:nth-child(1) {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
