<div class="child-list-container">
  <mat-form-field>
    <input matInput type="search">
  </mat-form-field>

  <mat-action-list>
    @for (Child of children(); track Child.id; let last = $last) {
      <li>
        <button mat-list-item (click)="onSelectChild(Child)">
          <span matListItemTitle>{{Child.name}} </span>

          <div matListItemMeta class="meta-container">
              <attendance-box [disabled]=true [childSignal]="Child"></attendance-box>
          </div>
        </button>
      </li>

      @if (!last) {
        <mat-divider></mat-divider>
      }
    }
  </mat-action-list>
</div>
