<h2>Nyckelpigorna</h2>
<div class="child-list-container">
  <mat-action-list>
    @for (Child of children(); track Child.id; let last = $last) { 
      <li>
        <button mat-list-item (click)="onSelectChild(Child)">
          <span matListItemTitle>{{Child.name}} </span>

          <div matListItemMeta class="meta-container">
              <app-attendance-box [childSignal]="Child"></app-attendance-box>
          </div>
        </button>
      </li>

      @if (!last) {
        <mat-divider></mat-divider>
      }
    }
  </mat-action-list>
</div>
