:host {
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: 100%;
  max-width: fit-content;
}

.rowise {
    display: flex;
    flex: 1;
    gap: 1em;
    margin: 1em;
    align-items: center;
}

p {
    font: var(--mat-sys-body-large);
    margin-bottom: 0;
    margin-left: 1em;
    //color: var(--matsys));
}
