<mat-card>
  <mat-card-content class="main-card-content">
    <div class="main-card-left">
      @if (contentSignal() === 'childView') {
        <div class="sub-row">
            <mat-card-header class="title">
            <span>{{childSignal().name}}</span>
            @if (groupSignal().name != 'alla') {
              <p class="mini-spacer">{{groupSignal().name}}</p>
            }
              <main-presence-container filter={{childSignal().id}}></main-presence-container>
          </mat-card-header>
          <div class="childDisplay">
            <child-display (attendanceChangeEvent)="wsUpdateAttendance($event)" [(childSignal)]="childSignal"></child-display>
          </div>
        </div>
        <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
          <mat-tab label="Information">
            <information></information>
          </mat-tab>
          <mat-tab label={{reportTitle()}}>
            <main-live-journal [childSignal]="childSignal()"
                          [groupSignal]="groupSignal()"
                          [contentSignal]="contentSignal()" >
            </main-live-journal>
          </mat-tab>
        </mat-tab-group>
      }

      @if (contentSignal() === 'groupView') {
        <mat-card-header class="title">
        <span>{{groupSignal().name}}</span>
        <main-presence-container isGroup="yes" filter={{groupSignal().id}}></main-presence-container>
      </mat-card-header>
        <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
          <mat-tab label={{reportTitle()}}>
            <main-live-journal [childSignal]="childSignal()"
                          [groupSignal]="groupSignal()"
                          [contentSignal]="contentSignal()" >
            </main-live-journal>
          </mat-tab>
        </mat-tab-group>
      }

      @if (contentSignal() === 'teacherView') {
        <account-page></account-page>
      }

      @if (contentSignal() === 'homeView') {
        <h1>Hej och välkommen till KindGuard</h1>
        <p>Skola</p>
        <p>kalender?</p>
        <p>HomepageMög</p>
        <p>Oklart</p>
      }

    </div>

    <mat-card class="main-card-right">
      <div class="main-card-right">
        <main-child-list
          [(groupSignal)]="groupSignal"
          [(childSignal)]="childSignal"
          [(contentSignal)]="contentSignal"
          [(allGroups)]="allGroups">
      </main-child-list>
    </div>
    </mat-card>
  </mat-card-content>
</mat-card>
