<mat-card>
  <mat-card-content class="main-card-content">
    <div class="main-card-left">
      @if (contentSignal() === 'childView') {
          <mat-card-header>
          <span class="dagens-datumn">{{childSignal().name}}</span>
        </mat-card-header>
        <div class="childDisplay">
          <child-display (attendanceChangeEvent)="wsUpdateAttendance($event)" [(childSignal)]="childSignal"></child-display>
        </div>
        <main-live-journal [childSignal]="childSignal()"
                          [groupSignal]="groupSignal()"
                          [contentSignal]="contentSignal()" >
        </main-live-journal>
      }

      @if (contentSignal() === 'groupView') {
        <mat-card-header>
        <span class="dagens-datumn">{{groupSignal().name}}</span>
      </mat-card-header>
        <main-live-journal [childSignal]="childSignal()"
                          [groupSignal]="groupSignal()"
                          [contentSignal]="contentSignal()" >
        </main-live-journal>
      }

      @if (contentSignal() === 'teacherView') { 
        <account-page></account-page>
      }

      @if (contentSignal() === '') {
        <h1>Den är tom</h1>
      }
      
    </div>
    <div class="main-card-right">
      <main-child-list 
        [(childSignal)]="childSignal"
        [(groupSignal)]="groupSignal">
    </main-child-list>

    </div>
  </mat-card-content>
</mat-card>
