<div>
  @if (disabled()) {
    <span>{{ statusLabels[currentStatus] }}</span>
  } @else {
    <mat-form-field appearance="outline" subscriptSizing="dynamic">
      <mat-select [value]="currentStatus" (selectionChange)="onStatusChange($event.value)">
        @if (currentStatus === 'CHECKED_IN') {
          @for (option of statusOptions; track option.value) {
            <mat-option [value]="option.value">{{ option.label }}</mat-option>
          }
        }
        @else {
          @for (option of statusOptions.filter((x) => x.value != 'CHECKED_OUT'); track option.value) {
            <mat-option [value]="option.value">{{ option.label }}</mat-option>
          }
        }
      </mat-select>
    </mat-form-field>
  }

  @if (errorMessage) {
    <p class="error-text">{{ errorMessage }}</p>
  }

</div>
