<mat-card appearance="outlined">
  @if (viewState() == "overview") {
    <mat-action-list class="list-class">
      <button mat-list-item (click)="onSelectAll()">
        <span matListItemTitle>Alla</span>
      </button>
      @for (teacher of (teacherList | async); track teacher.name) {
        <button mat-list-item (click)="onSelectTeacher(teacher)">
          <span matListItemTitle>{{teacher.name}} </span>
        </button>
      }
    </mat-action-list>
  }
  @else if (viewState() == "chat") {
  <mat-card id="chatView">
    <mat-card-header id="chatViewHeader">
      <mat-card-title><button matIconButton="button" (click)="returnToOverview()"><mat-icon>keyboard_return</mat-icon></button>{{selectedTeacher()?.name}}</mat-card-title>
    </mat-card-header>
    <mat-card id="chatViewDisplay">
      @for (msg of messages(); track msg.chatMessage) {
      <p>{{msg.chatMessage}}</p>
      }
    </mat-card>
    <mat-card id="chatViewFooter">
      <mat-form-field>
        <input matInput [(ngModel)]="newMessage" type="text">
      </mat-form-field>
      <button matInput type="button" (click)="submitMessage()">Send</button>
    </mat-card>
  </mat-card>
  }
</mat-card>
