:host {
  position: fixed;
  display: flex;
  flex-direction: column;
  background-color: var(--mat-sys-secondary);
  width: 30vw;
  height: fit-content;
  right: 30vw;
  bottom: 20vh;
  z-index: 1000;
  border: 2px solid var(--mat-sys-on-secondary)
}

mat-card {
  width: 100%;
  height: 100%;
  display: inherit;
}

mat-action-list {
  width: 100%;
  height: 100%;
}

mat-action-list > button {
  width: 100%;
  padding: 0.5em;
  border-bottom: 2px solid var(--mat-sys-on-secondary);
  cursor: pointer;
}

input {
  height: 1em;
}

button:hover{
  transform:scale(1.05);
}

#chatView {
  display: flex;
  width: 100%;
  flex-direction: column
}

#chatView > * {
}

#chatViewHeader {
  flex: 1;
  flex-direction: row;
  justify-content: center;
}

#chatViewDisplay {
  flex: 5;
  min-height: 30vh;
}

#chatViewFooter {
  display: flex;
  flex: 2;
  flex-direction: row;
}

#chatViewFooter mat-form-field {

}
