@use '@angular/material' as mat;

:host {
  background-color: var(--mat-sys-surface);
  width: 100%;
  height: 100%;
  display: flex;
}

mat-toolbar {
    background-color:var(--mat-sys-primary);
    /* Magenta */
    color: var(--mat-sys-on-primary);
    display: flex;
    align-items: center;
    position: fixed;
}

mat-tab-group {
  height: 100%;
}

mat-tab {
  height: 100%;
}

.example-spacer {
  flex: 1 1 auto;
}

::ng-deep .mat-mdc-tab {
  background-color: var(--mat-sys-surface-container);
  border-radius: 5px;
  box-shadow: var(--mat-sys-level1);
}

::ng-deep .mdc-tab--active {
  background-color: var(--mat-sys-surface-container);
  border-radius: 5px;
  box-shadow: var(--mat-sys-level3);
}

::ng-deep .mat-mdc-tab-body-wrapper {
  height: 100%;
}

.main-body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.main-panel-container {
  width: 85%;
  height: 60%;
}
