:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
}

.icon-display {
    transform: scale(2);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

p {
    font: var(--mat-sys-body-large)
}

mat-card {
    margin-top: 7em;
    height: calc(100% - 7em);
    box-sizing: border-box;
    flex: 1;
    box-shadow: var(--mat-sys-level2);
    background: var(--mat-sys-surface-variant);
}

mat-card-header {
  width: 100%;
  display: flex;
}

.card-header-left {
  flex: 2;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 2em;
}

.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.card-header-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: var(--mat-sys-label-large);
}